
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  header {
    background-color: #d2691e;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  section {
    padding: 20px;
  }
   #hero{
    background-image: url('./combu02.png');
    background-size: cover;
    color: #fff;
    text-align: center;
  }
  
  #hero .hero-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    color:#000
  }
 
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  .opção{
    border: 1px solid #000;
    border-radius: 5px;
    background-color:#f8c291 ;
    padding: 5px;
    margin: 5px;
  }
  
  #class{
  height: flex;
  width: auto;
}
  .post_main{
    height: flex;
    width: 60%;
    left: 100%;
  }
  #register{
    border: 1px solid #000;
    border-radius: 5px;
    background-color:#f8c291 ;
    padding: 5px;
    margin: 5px;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
    margin: 20px;
    }
    .card {
    width: 300px; 
    height: 415px;
    background-color: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    .card:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    }
    .card img {
    width: 100%;
    height: 250px;
    object-fit: cover; 
    border-radius: 5px; 
    margin-bottom: 15px;
    }
    .card h2 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    }
    .card p {
    line-height: 1.5;
  
    }
    .card button {
    background-color: #085d42;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    align-content: center;
    }
    .card button:hover {
    color: #085d42;
    background-color: #30EF00;
    }
.register{ 
  background-color: #f8c291;
  align-items: center;
  justify-content: center;
}
.abadelogin{
  width: 400px;
  height: 400px;
  background-color: #fbfbfb;
  align-items: center;
  justify-content: center;
  border-style: solid 2px;
  border-radius: 20px;
 margin-left: 500px;
}

.conteiner_cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.corpo{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
 
}
.titulocatalogo{
  background-color: rgba(97, 27, 27, 0.986);;
  font-size: 45px;
  height: 100px;
  width: 100%;
  
}
